@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .animate-card-fade-in {
    animation: cardFadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .animate-modal-pop {
    animation: modalPop 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalPop {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}