.collections{
  padding: 50px 0;
  background-color: #ebdeec;
}
.collections-title{
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.collections-title h2{
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: lighter;
}
.collections-title p{
  margin-left: 100px;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: right;
  text-decoration: none;
  color: #000;
}
.collections-grid {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.collection-item {
  flex: 1 1 300px;
  width: 100%;
  text-align: center;
}

.collection-item img {
  width: 100%;
  max-height: 250px; 
  object-fit: cover; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.collection-item p {
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}